In [1]:
import pandas as pd 
import numpy as np

In [3]:
#Load data set and check first five Rows
df = pd.read_csv(r'C:\Users\Saheed K\OneDrive\Desktop\Project Entri.csv')
df.head()

,Indicator Category,Indicator,Year,Gender,Race/ Ethnicity,Value,Place,BCHC Requested Methodology,Source,Methods,Notes
0,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2013,Both,All,30.4,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
1,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2012,Both,All,39.6,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
2,HIV/AIDS,"AIDS Diagnoses Rate (Per 100,000 people)",2011,Both,All,41.7,"Atlanta (Fulton County), GA","AIDS cases diagnosed in 2012, 2013, 2014 (as a...",Diagnoses numbers were obtained from the Georg...,NaN,NaN
3,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Male,All,195.8,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN
4,Cancer,All Types of Cancer Mortality Rate (Age-Adjust...,2013,Female,All,135.5,"Atlanta (Fulton County), GA","2012, 2013, 2014; per 100,000 population using...","National Center for Health Statistics (NCHS), CDC",NaN,NaN

In [5]:
#Basic info and checks
print(df.shape)
df.info()
df.describe()

(13512, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13512 entries, 0 to 13511
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Indicator Category          13512 non-null  object
 1   Indicator                   13512 non-null  object
 2   Year                        13512 non-null  object
 3   Gender                      13512 non-null  object
 4   Race/ Ethnicity             13512 non-null  object
 5   Value                       13499 non-null  float64
 6   Place                       13512 non-null  object
 7   BCHC Requested Methodology  13004 non-null  object
 8   Source                      11222 non-null  object
 9   Methods                     4232 non-null   object
 10  Notes                       3541 non-null   object
dtypes: float64(1), object(10)
memory usage: 1.1+ MB

              Value
count  13499.000000
mean     285.688562
std     3192.666847
min        0.000000
25%        7.000000
50%       16.100000
75%       45.200000
max    80977.000000

In [6]:
#Check  missing Values 
print(df.isnull().sum())

Indicator Category               0
Indicator                        0
Year                             0
Gender                           0
Race/ Ethnicity                  0
Value                           13
Place                            0
BCHC Requested Methodology     508
Source                        2290
Methods                       9280
Notes                         9971
dtype: int64

In [1]:
#Visualizations